/* style.css */
/* ind.css */

h1 {
        text-align: center;
        font-size: 40px;
        background-color: #1abcbc;
        color: rgb(230, 28, 28);  /* optional, for contrast */
        padding: 100px;
        border-radius: 1000px; /* optional for rounded look */
    }
    .custom-title {
        text-align: center;
        font-size: 240px;
        color: #1a7bbc;
        font-weight: bold;
        border-bottom: 2px solid rgb(255, 0, 191);
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
